* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 3px 3px 6px 13px silver;
}

#result {
  width: 100%;
  height: 4rem;
  border: 2px solid darkslategray;
  background-color: darkslategray;
  color: #fff;
  font-size: 1.5rem;
}

.bg-color {
  background-color: #E0E0E0;
}

.button {
  width: 7rem;
  height: 4rem;
  font-size: 1em;
  font-weight: 700;
  /* background-color: #E0E0E0; */
  border: 2px solid silver;
  color: #000;
}

.button:nth-child(4) {
  background-color: #ff8100;
}
